[data-element="editor"] {
  --internal-block-editor-border-radius: var(--block-editor-border-radius, 2px);
  --internal-block-editor-color-primary: var(--block-editor-color-primary, #454545);
  --internal-block-editor-color-secondary: var(--block-editor-color-secondary, #d2d2d2);
  --internal-block-editor-color-tertiary: var(--block-editor-color-tertiary, #e5e5e5);

  user-select: auto;
}

[data-element="editor"],
[data-element="block"],
[data-element="title"],
[contenteditable="true"] {
  width: 100%;
  outline: none;
  white-space: pre-wrap;
}

[data-placeholder] {
  position: relative;

  &:empty::after {
    top: 0;
    left: 0;
    opacity: 0.3;
    cursor: text;
    width: 250px;
    position: absolute;
    content: attr(data-placeholder);
  }
}

[data-element="block"] {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    min-height: 1em;
    margin-bottom: 0;
  }
}
